*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  font-size: 18px;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

a:hover{
  opacity: 0.7;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
